@charset "utf-8";

/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
p,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: 'TsukuARdGothic-Regular',YuGothic,'Yu Gothic','Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック','メイリオ', Meiryo,'MSPゴシック','MS PGothic',sans-serif;
    font-size: 15px;
    color: #333333;
    font-feature-settings: "palt";
}

.top-page{
    background: linear-gradient(90deg,#115588,#158bba,#bfe9f7);
    background-size: 180% 180%;
    animation: gradient-animation 10s ease infinite;
    }
    
    @keyframes gradient-animation {
        0% {
        background-position: 0% 50%;
        }
        50% {
        background-position: 100% 50%;
        }
        100% {
        background-position: 0% 50%;
        }
    }


.works_allpage{
    background: linear-gradient(90deg,#115588,#158bba,#bfe9f7);
    background-size: 180% 180%;
    animation: gradient-animation 10s ease infinite;
    }
    
    @keyframes gradient-animation {
        0% {
        background-position: 0% 50%;
        }
        50% {
        background-position: 100% 50%;
        }
        100% {
        background-position: 0% 50%;
        }
    }

.works01-page{
    background-color: #4d4545;
}

.works02-page{
    background-color: #a4861e;
}

.works03-page{
    background-color: #ab526f;
}

.works04-page{
    background-color: #4d4545;
}

.works05-page{
    background-color: #ab526f;
}

.works06-page{
    background-color: #bb7302;

}

.thanks-page{
    background: linear-gradient(90deg,#115588,#158bba,#bfe9f7);
    background-size: 180% 180%;
    animation: gradient-animation 10s ease infinite;
    }
    
    @keyframes gradient-animation {
        0% {
        background-position: 0% 50%;
        }
        50% {
        background-position: 100% 50%;
        }
        100% {
        background-position: 0% 50%;
        }
    }


a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    vertical-align: bottom;
    border: none;
    max-width: 100%;
}    

html{
    /* スムーススクロール */
    scroll-behavior: smooth;
}

/* ここからスタート */

.w_inner{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
}

/* ヘッダー */

.container_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 6.53% 0 2.51%;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container_header .logo{
    width: 70px;
}

/* ナビゲーション */

.pc_nav{
    text-align: right;
}

.pc_nav ul{
    display: flex;
}

.pc_nav li{
    color: #fff;
    font-family: "montserrat", sans-serif;
    font-weight: 100;
    font-style: normal;
    padding: 0 30px;
}

.sp_nav{
    display: none;
}

.sp_btn {
    display: none;
}

/* 白丸背景 */

.header_img .bc{
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

.header_img .bc .bc_wrap{
    position: relative;
    height: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.header_img .bc .img_1{
    display: inline-block;
    position: absolute;
    top: -40px;
    height: 70px;
    margin-top: 15px;
    animation: fuwafuwa 3s infinite ease-in-out .8s alternate;
    transition: 2s ease-in-out;
}

@keyframes fuwafuwa {
    0% {
    transform: translateY(0px);
    }
    50% {
    transform: translateY(-30px);
    }
    100% {
    transform: translateY(0px);
    }
}

.header_img .active .img_1{
    top: -700px;
}

.header_img .bc .img_2{
    position: absolute;
    top: 20px;
    animation: fuwafuwa 4s infinite;
    transition: 2s ease-in-out;
}

.header_img .active .img_2{
    top: -900px;
}

.header_img .bc .img_3{
    position: absolute;
    top: -50px;
    right: 50px;
    animation: fuwafuwa 4s infinite;
    transition: 2s ease-in-out;
}

.header_img .active .img_3{
    top: -800px;
}

.header_img .bc .img_4{
    position: absolute;
    right: 150px;
    top: -80px;
    animation: fuwafuwa 4s infinite;
    transition: 2s ease-in-out;
}

.header_img .active .img_4{
    top: -700px;
}

.header_img .bc .img_5{
    position: absolute;
    top: 20px;
    right: 30px;
    animation: fuwafuwa 3s infinite;
    transition: 3s ease-in-out;
}

.header_img .active .img_5{
    top: -700px;
}

.header_img .bc .img_6{
    position: absolute;
    top: 20px;
    animation: fuwafuwa 2s infinite;
    transition: 3s ease-in-out;
}

.header_img .active .img_6{
    top: -700px;
}

.header_img .bc .img_7{
    position: absolute;
    top: 10px;
    right: 10px;
    animation: fuwafuwa 4s infinite;
    transition: 3s ease-in-out;
}

.header_img .active .img_7{
    top: -700px;
}

.header_img .bc .img_8{
    position: absolute;
    right: 60px;
    top: 130px;
    animation: fuwafuwa 5s infinite;
    transition: 3s ease-in-out;
}

.header_img .active .img_8{
    top: -700px;
}

.header_img .bc .img_9{
    position: absolute;
    left: 150px;
    top: 250px;
    animation: fuwafuwa 5s infinite;
    transition: 3s ease-in-out;
}

.header_img .active .img_9{
    top: -700px;
}

.header_img .bc .img_10{
    position: absolute;
    left: 220px;
    top: 150px;
    animation: fuwafuwa 5s infinite;
    transition: 3s ease-in-out;
}

.header_img .active .img_10{
    top: -700px;
}

.header_img .bc .img_11{
    position: absolute;
    left: 220px;
    top: 260px;
    animation: fuwafuwa 4s infinite;
    transition: 3s ease-in-out;
}

.header_img .active .img_11{
    top: -700px;
}

/*  メッセージ  */

.header_img .ft{
    display: flex;
    height: calc(100vh - 70px);
    justify-content: center;
}

.header_img .ft .img_1{
    width: 400px;
    margin-top: 200px;
    margin-left: 50px;
}

.header_img .ft .img_2{
    width: 30px;
    margin-left: 400px;
    margin-top: 80px;
}

/* スクロール */

body {
    background:#0b1d2a;
}

.arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 20px;
}

.arrows path {
    stroke: #2994D1;
    fill: transparent;
    stroke-width: 1px;  
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite; 
}

@keyframes arrow{
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
    animation-delay:-1s;
    -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 { 
    animation-delay:0s;
    -webkit-animation-delay:0s; /* Safari 和 Chrome */
}

/* サービス */

.container_service{
    padding: 0 10px;
}

.container_service h1{
    text-align: center;
    font-weight: bold;
    font-size: 3.5rem;
    margin: 10px 0 30px;
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container_service p{
    text-align: center;
    margin-bottom: 60px;
}

.service_wrap{
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 200px;
}

.service{
    max-width: 30%;
    text-align: center;
    margin-bottom: 20px;
}

.service .ttl_en{
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    margin: 20px 0;
    }

.service .ttl_jp{
    font-size: 15px;
    margin-bottom: 20px;
    }

.service .explain{
    max-width: 60%;
    text-align: center;
    margin: 0 auto;
    font-size: 15px;
}

/* works */

#container_works{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
}

#container_works h1{
    font-weight: bold;
    font-size: 3.5rem;
    margin-bottom: 20px;
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#container_works>p{
    margin-bottom: 40px;
}

/* スライダー調整 */
#container_works .works{
    margin-right: 30px;
}

#container_works .works .ttl{
    font-size: 20px;
    margin: 10px 0;
}

#container_works .works .explain{
    font-size: 15px;
    margin-bottom: 70px;
}

.works_more a{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 200px;
    align-items: center;
}

.works_more p{
    font-size: 13px;
    font-family:"montserrat",sans-serif;
    font-weight:400;
    font-style:normal;
}

.works_more img{
    width: 50px;
}

/* profile */

.container_profile{
    margin: 0 auto;
    max-width: 1100px;
    margin-bottom: 150px;
    padding: 0 10px;
}

.container_profile h1{
    font-weight: bold;
    font-size: 3.5rem;
    margin-bottom: 20px;
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container_profile p{
    margin-bottom: 40px;
}

.container_profile .pc_img{
    display: none;
}

.profile_wrap img{
    width: 300px;
}

.pc_img2{
    width: 300px;
}

.profile_explain{
    display: flex;
    justify-content: space-between;
}

.profile_explain h2{
    font-size: 25px;
    margin-bottom: 10px;  
    font-family:"montserrat",sans-serif;
    font-weight:400;
    font-style:normal;
}

.profile_explain h3{
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 30px;
    line-height: 30px;
}

.profile_explain p{
    font-size: 14px;
    font-weight: normal;
    line-height: 2;
}

/* contact */

#container_contact{
    text-align: center;
}

#container_contact h1{
    font-weight: bold;
    font-size: 3.5rem;
    margin-bottom: 20px;
    color: #fff;
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#container_contact p{
    margin-bottom: 30px;
    color: #fff;
    font-size: 15px;
    font-family: "source-han-sans-japanese", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.contact_explain p{
    font-size: 16px;
    line-height: 30px;
}

/* contact form */

form{
    max-width: 480px;
    width: calc(100% - 10px);
    margin: 0 auto;
    font-size: 15px;
    margin-bottom: 50px;
    font-family: "source-han-sans-japanese", sans-serif;
    font-weight: 200;
    font-style: normal;
}
    
.item{
    display: flex;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 5px;
    color: #000;
}

label{
    width: 180px;
    padding-left: 10px;
    color: #fff;
}
    
.label-required{
    color: #fff; 
    font-size: 15px;
}
    
input[type="text"],input[type="email"]{
    border: solid 1px #aaa;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    width: 200px;
}
    
select{
    appearance: none;
    cursor: pointer;
    border: solid 1px #aaa;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
}
    
textarea{
    border: solid 1px #aaa;
    border-radius: 5px;
    padding: 10px;
    height: 60px;
    width: 200px;
    font-size: 15px;
}

/* 送信ボタン */

.input_btn{
    margin-top: 30px;
    background-color: #fff;
    border: solid 1px #aaa;
    border-radius: 20px;
    width: 100px;
    font-size: 15px;
    line-height: 2;
    cursor: pointer;
    color: #000;
}

/* フッター */
.footer{
    text-align: center;
}

.copy{
    text-align: center;
    color: #fff;
    margin: 30px 0;
    font-family:"montserrat",sans-serif;
    font-weight:100;
    font-style:normal;
    font-size: 12px;
}

/* p2 works allページ */
.container_category_list{
    margin-top: 40px;
}

/* カテゴリーリスト */

.category_list{
    padding: 0.7571428571rem;
    background-color:  rgba(223, 216, 216, 0.4);
    border-radius: 2.5rem;
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin: 0 auto;
    cursor: pointer;
}

.category_list p{
    font-family:"montserrat",sans-serif;
    font-weight:400;
    font-style:normal;
    font-size: 21px;
    line-height: 200%;
    width: 100%;
    text-align: center;
}

.container_ttl_page h1{
    font-family:"montserrat",sans-serif;
    font-weight:400;
    font-style:normal;
    font-size: 35px;
    margin-bottom: 20px;
}

.container_ttl_page p{
    margin-bottom: 100px;
}

.current{
    background-color: #fff;
    border-radius: 2.5rem;
}

/* p2 works アーカイブ */

.p-works_archive{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item_bannar{
    width: 43%;
    margin-bottom: 20px;
}

.item_web{
    width: 43%;
    margin-bottom: 20px;
}

.item_graphic{
    width: 43%;
    margin-bottom: 20px;
}

.item_bannar img{
    margin-bottom: 30px;
}

.item_graphic img{
    margin-bottom: 30px;
}

.item_web img{
    margin-bottom: 30px;
}

.item_bannar .client{
    margin-bottom: 15px;
    font-size: 25px;
    line-height: 1.2;
}

.item_graphic .client{
    margin-bottom: 15px;
    font-size: 25px;
    line-height: 1.2;
}

.item_web .client{
    margin-bottom: 15px;
    font-size: 25px;
    line-height: 1.2;
}

.item_bannar .category{
    margin-bottom: 100px;
    font-size: 20px;
    line-height: 1.15;
}

.item_graphic .category{
    margin-bottom: 100px;
    font-size: 20px;
    line-height: 1.15;
}

.item_web .category{
    margin-bottom: 100px;
    font-size: 20px;
    line-height: 1.15;
}

.footer{
    text-align: center;
}

.footer img{
    width: 60px;
}

/* works各ページ 共通 */
.container_ttl_page h1{
    font-family:"montserrat",sans-serif;
    font-weight:400;
    font-style:normal;
    font-size: 35px;
    margin: 30px 0;
    color: #fff;
}

.container_ttl_page p{
    margin-bottom: 100px;
    color: #fff;
}

.massage{
    font-size: 20px;
    line-height: 1.2;
    margin: 25px 0;
    color: #fff;
}

.client{
    font-size: 50px;
    line-height: 1.2;
    margin-bottom: 15px;
    color: #fff;
}

.category{
    font-size: 25px;
    line-height: 1.2;
    margin-bottom: 60px;
    font-family:"montserrat",sans-serif;
    font-weight:400;
    font-style:normal;
    color: #fff;
}

.img_inner{
    display: flex;
    justify-content: space-between;
}

.img_inner .capcure01{
    width: 66%;
    margin-right: 25px;
}

.img_inner .capcure02{
    width: 27%;
}

.container_contents{
    color: #fff;
    margin: 60px auto;
    padding: 0 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.container_contents .inner01{
    width: 45%;
    display: flex;
    flex-wrap: wrap;
}

.container_contents .inner02{
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.container_contents dt{
    align-items: center;
    padding: 20px 0;
    font-weight: 700;
    line-height: 1.75;
    border-bottom: 3px solid #fff;
    width: 50%;
    color: #fff;
    font-size: 17px;
}

.container_contents dd{
    align-items: center;
    padding: 20px 0;
    line-height: 1.75;
    border-bottom: 1px solid #fff;
    width: 50%;
    color: #fff;
    font-size: 17px;
}

.outline_img{
    display: flex;
    justify-content: space-between;
}

.outline_text{
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
}

.outline_text h2{
    font-size: 25px;
    line-height: 1.2;
    color: #fff;
    margin-right: 50px;
}

.outline_text p{
    font-size: 20px;
    line-height: 2.4;
    color: #fff;
    /* max-width: 80%; */
}

.outline_img img{
    width: 47%;
    margin-bottom: 80px;
}

.design_img{
    display: flex;
    justify-content: space-between;
}

.design_img img{
    width: 28%;
    margin-bottom: 80px;
}

.design_text{
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
}

.design_text h2{
    font-size: 25px;
    line-height: 1.2;
    margin-right: 50px;
    color: #fff;
}

.design_text p{
    font-size: 20px;
    line-height: 2.4;
    color: #fff;
}

.back_btn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
	text-align: center;
	text-decoration: none;
	width: 120px;
	margin: auto;
	padding: 1rem 4rem 1rem 3rem;
	font-weight: bold;
	background: #d6d2d2;
	color: #000;
	border-radius: 100vh;
	position: relative;
	transition: 0.5s;
    font-family:"montserrat",sans-serif;
    font-weight:700;
    font-style:normal;
    font-size: 20px;
    margin-bottom: 150px;
}

a.btn_12::before {
	content: '';
	width: 7px;
	height: 7px;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	transform: rotate(45deg);
}

a.btn_12:hover {
	background: #44c6f2;
	color: #fff;
}

.contact_wrap{
    text-align: center;
    margin-top: 90px;
    background-color: #fff;
    max-width: 1100px;
    height: 400px;
    margin: 0 auto;
}

.contact_wrap h1{
    transform: translateY(-50%);
    font-size: 62px;
    line-height: 1.7;
    font-family:"montserrat",sans-serif;
    font-weight:400;
    font-style:normal;
}

.contact_wrap h2{
    transform: translateY(-200%);
    font-size: 15px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.contact_wrap p{
    font-size: 18px;
    line-height: 2.0;
    margin-bottom: 60px;
}

a.btn_contact {
	display: block;
	text-align: center;
	text-decoration: none;
	width: 120px;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	border: 2px solid  #4d4545;
	color: #4d4545;
	cursor: pointer;
	position: relative;
    overflow: hidden;
    z-index: 1;
    font-family: "source-han-sans-japanese", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a.btn_contact::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #4d4545;
	transform: translateX(-100%);
	transition: all .3s;
	z-index: -1;
}

a.btn_contact:hover::before {
	transform: translateX(0);
}

a.btn_contact:hover {
	color: #fff;
}

/* p4 works03 LIFE hair design */

.capcure01_secondary{
    margin: 0 auto;
}

.outline_img_secondary{
    margin-bottom: 80px;
}

.design_img_secondary{
    margin-bottom: 80px;
}


/* p5 works04 deluxe burger */

.content_img .capcure01_04{
    width: 35%;
}

.content_img .capcure02_04{
    width: 55%;
}

.design_text_other{
    display: flex;
    justify-content: space-between;
    margin: 0 0 80px 0;
}

.design_text_other h2{
    font-size: 25px;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 40px;
    margin-right: 50px;
}

.design_text_other p{
    font-size: 20px;
    line-height: 2.4;
    color: #fff;
}

.design_img_other2 img{
    margin: 0 auto;
    width: 1100px;
    margin-bottom: 50px;
}

/* p6 works06 トラベルメディア */

.capcure01_06{
    width: 76%;
    margin: 0 auto;
}

.outline{
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 108px;
    box-sizing: border-box;
    align-items: center;
    padding: 0 10px;
}

.outline img{
    width: 50%;
    margin: 40px 20px 0 0 ;
}

.outline_text_other h2{
    font-size: 25px;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 40px;
}

.outline_text_other p{
    font-size: 20px;
    line-height: 2.4;
    color: #fff;
}

.design_wrap{
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 108px;
    box-sizing: border-box;
    align-items: center;
    padding: 0 10px;
}

.design_text_wrapper{
    width: 50%;
}

.design_text_wrapper h2{
    font-size: 25px;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 40px;
}

.design_text_wrapper p{
    font-size: 20px;
    line-height: 2.4;
    color: #fff;
}

.design_img_other {
    width: 50%;
    margin-top: 40px;
}

/* thanksページ */

.thanks_wrap{
    padding: 200px 10px 200px;
}

.thanks_wrap h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
    font-family:"montserrat",sans-serif;
    font-weight:700;
    font-style:normal;
    margin-bottom: 100px;
}

.thanks_wrap p{
    text-align: center;
    color: #fff;
    font-size: 20px;
    line-height: 2;
}


@media screen and (max-width:1100px){
    
    /* ヘッター */

    .pc_nav{
        display: none;
    }
    .sp_btn{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        height: 33px;
        z-index: 999;
    }
    .sp_btn span{
        background: #fff;
        width: 33px;
        height: 3px;
        display: block;
        position: relative;
        top: 10px;
        transition: 0.5s;
    }
    .sp_btn span::before,.sp_btn span::after{
        content: '';
        background: #fff;
        width: 33px;
        height: 3px;
        display: block;
        position: absolute;
        transition: 0.5s;
    }

    .sp_btn span::before{
        bottom: 10px;
    }

    .sp_btn span::after{
        top: 10px;
    }

    .open span{
        background: transparent;
    }

    .open span::before{
        bottom: 0px;
        transform: rotate(45deg);
    }

    .open span::after{
        top: 0px;
        transform: rotate(135deg);
    }

    .sp_nav{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(43, 46, 49, 0.8);
    }

    .sp_nav ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .sp_nav ul li{
        text-align: center;
        color: #fff;
        font-size: 18px;
        padding: 15px 0;
        font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
        "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    }


    /* works 共通 */

    .outline_text h2{
        font-size: 23px;
        margin-bottom: 10px;
        margin-right: 50px;
    }
    
    }
    
    .design_text h2{
        font-size: 23px;
        margin-bottom: 10px;
        margin-right: 50px;
    }



@media screen and (max-width: 767px){

/* sp トップ */

.header_img .bc{
    margin-top: 100px;
}

.header_img .ft{
    display: block;
    position: relative;
    margin-bottom: 200px;
    height: calc(100vh - 70px);
}

.header_img .ft .img_1{
    position: absolute;
    width: 50%;
    margin-bottom: 50px;
    left: 0px;
    bottom: 30px;
}

.header_img .ft .img_2{
    position: absolute;
    width: 30px;
    right: 50px;
    top: 80px;
    margin-top: 0;
} 

/* sp サービス */

.container_service h1{
    font-size: 2rem;
    margin-bottom: 20px;
}

.service_wrap{
    display: block;
    margin: 0 auto;
}

.service{
    max-width: 100%;
    margin-bottom: 100px;
}

.service img{
    width: 200px;
}

.service .ttl_en{
    font-size: 20px;
}

.service .ttl_jp{
    font-size: 12px;
}

.service .explain{
    max-width: 60%;
    text-align: center;
    margin: 0 auto;
    font-size: 12px;
    line-height: 1.5;
}

/* sp works */

#container_works h1{
    font-size: 2rem;
}

#container_works{
    padding: 0 20px;
}

.works_block_slider img{
    width: 500px;
    margin: 0 auto;
}

.works_more a{
    margin-bottom: 100px;
}

/* sp profile */

.container_profile{
    padding: 0 20px;
}

.profile_wrap h1{
    font-size: 2rem;
}

.container_profile p{
    margin-bottom: 20px;
}

.container_profile .pc_img{
    display: block;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.container_profile .pc_img2{
    display: none;
}

.profile_explain h2{
    text-align: center;
}

.profile_explain h3{
    text-align: center;
}


/* sp contact */

#container_contact h1{
    font-size: 2.5rem;
}

#container_contact p{
    font-size: 12px;
}

.label{
    font-size: 12px;
}

.textarea{
    width: 100px;
}

/* sp works all */

.category_list{
    width: 60%;
}

.p-works_archive{
    display: block;
}

/* .c-btn_category_graphic{
    width: 100px;
} */

.item_bannar{
    width: 80%;
    margin-bottom: 20px;
    margin: 0 auto;
}

.item_web{
    width: 80%;
    margin-bottom: 20px;
    margin: 0 auto;
}

.item_graphic{
    width: 80%;
    margin-bottom: 20px;
    margin: 0 auto;
}

.category_list p{
    font-size: 13px;
}

/* sp works各ページ 共通 */

.container_contents{
    display: block;
}

.text_inner .massage{
    font-size: 15px;
}

.text_inner .client{
    font-size: 35px;
}

.text_inner .category{
    font-size: 13px;
}

.container_contents .inner01{
    width: 100%;
}

.container_contents .inner01 dt{
    width: 30%;
    font-size: 15px;
}

.container_contents .inner01 dd{
    width: 70%;
    font-size: 15px;
}

.container_contents .inner02{
    width: 100%;
}

.container_contents .inner02 dt{
    width: 30%;
    font-size: 15px;
}

.container_contents .inner02 dd{
    width: 70%;
    font-size: 15px;
}

.outline_img{
    display: block;
}

.outline_img img{
    width: 100%;
}

.outline_text{
    display: block;
}

.outline_text h2{
    font-size: 23px;
    margin-bottom: 10px;
    margin-right: 30px;
}

.outline_text p{
    font-size: 15px;
    line-height: 3;
}

.design_text{
    display: block;
}

.design_text h2{
    font-size: 23px;
    margin-bottom: 10px;
    margin-right: 30px;
}

.design_text p{
    font-size: 15px;
    line-height: 3;
}

.design_text_wrapper{
    width: 100%;
}

.design_img_other{
    width: 100%;
}

.contact_wrap h1{
    font-size: 50px;
}

.contact_wrap p{
    font-size: 13px;
}

/* sp works04 deluxe burger */

.content_img .capcure01_04{
    width: 35%;
}

.content_img .capcure02_04{
    width: 55%;
}

.outline{
    display: block;
    margin-bottom: 50px;
}

.outline img{
    width: 100%;
    margin-top: 0;
    margin-bottom: 20px;
}

.outline_text_other h2{
    font-size: 23px;
    margin-bottom: 20px;
}

.outline_text_other p{
    font-size: 15px;
}

.design_text_other{
    display: block;
    margin: 0;
}

.design_text_other h2{
    font-size: 23px;
    margin-bottom: 20px;
}

.design_text_other p{
    font-size: 15px;
    margin-bottom: 50px;
}

.design_img_other img{
    width: 100%;
    margin: 0 auto;
    /* width: 1100px; */
    margin-bottom: 50px;
}

/* sp works トラベルメディア */

.outline{
    display: block;
}

.design_wrap{
    display: flex;
    flex-direction: column-reverse;
}

.design_img_other img{
    width: 100%;
    margin-bottom: 20px;
} 

.design_text_wrapper h2{
    font-size: 23px;
    margin-bottom: 20px;
}
.design_text_wrapper p{
    font-size: 15px;
}

/* thanksページ */

.thanks_wrap{
    padding: 80px 10px 80px;
}

.thanks_wrap h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
    font-family:"montserrat",sans-serif;
    font-weight:700;
    font-style:normal;
    margin-bottom: 100px;
}

.thanks_wrap p{
    text-align: center;
    color: #fff;
    font-size: 15px;
    line-height: 2;
}

}